.howitworks h1{
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: 200px;
    color: #9F2C75;
}
.howitworks p{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: 15px;
}

.how-it-works {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 3em 0 3em 0;
    margin-top: 20px;

}
.how-it-works .card #text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.how-it-works .card #text1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    .how-it-works .card #text2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .how-it-works .card #text3{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
.how-it-works .card{
    /* background-color: #E6CB4F; */
    height: 450px;
    width: 320px;
    background-color: #FAEEFA;
    align-items: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#howitworks .how-it-works h4{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    color: black;
    color: #9F2C75;
    margin-top: 20px;
    /* gap: 0.1em; */
    font-size: 1.5em;
}
.how-it-works p{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    font-size: 1.2em;
    padding: 5px;
    text-align: adjust;
}


.how-it-works button {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: 30px;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: lighter;
    /* font-weight: bold; */
    border-radius: 5px;
    border: none;
    color: white;
    /* border-radius: 40px; */
    background-color: #9F2C75;
}
.howitworks button {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: 50px;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: lighter;
    /* font-weight: bold; */
    border-radius: 5px;
    border: none;
    color: white;
    /* border-radius: 40px; */
    background-color: #9F2C75;
    margin-bottom: 50px;
}
.howitworks .sign-up{
    text-decoration: none;
    color: white;
}

.howitworks .card:hover {
    animation: transform 1s ease-in-out infinite;
}

@keyframes transform {
  
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}
